# Vercel Environment Variables
# Bu dosyayı .env olarak kopyala ve değerleri doldur (local test için)
# Vercel dashboard'a da aynı değerleri gir

GMAIL_USER=kyetim.busi@gmail.com
GMAIL_APP_PASSWORD=buraya_app_password_gelecek
TELEGRAM_BOT_TOKEN=8680692986:AAHUMkibKQeFlSv_H0y5MSw58DBxx5RkGPM
TELEGRAM_CHAT_ID=5907760638
